src/main/resources/api/EmployeeDetails.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:emp="http://www.comapny.com/EmployeeDetails/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeDetails" targetNamespace="http://www.comapny.com/EmployeeDetails/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comapny.com/EmployeeDetails/">
      <xsd:element name="GetEmployee">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EmpID" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetEmployeeResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="EmployeeName" type="xsd:string" />
          	<xsd:element name="EmployeeDep" type="xsd:string"></xsd:element>
          	<xsd:element name="Salary" type="xsd:double" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeeRequest">
    <wsdl:part element="emp:GetEmployee" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetEmployeeResponse">
    <wsdl:part element="emp:GetEmployeeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EmployeeDetails">
    <wsdl:operation name="GetEmployee">
      <wsdl:input message="emp:GetEmployeeRequest"/>
      <wsdl:output message="emp:GetEmployeeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeDetailsSOAP" type="emp:EmployeeDetails">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://www.comapny.com/EmployeeDetails/GetEmployee"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeDetails">
    <wsdl:port binding="emp:EmployeeDetailsSOAP" name="EmployeeDetailsSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
